.project-details-box {
  border: 1px solid;
  color: cornflowerblue;
  margin-top: 10px;
  padding: 10px;
  width: fit-content;
}

.button-container {
  margin: 10px 0px;
}

.multi-select {
  max-width: 350px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.invoice-filter-container, .invoice-details-container {
  border: 1px solid;
  color: cornflowerblue;
  margin-top: 10px;
  padding: 10px;
  width: fit-content;
}